@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
}

@theme {
  --color-accent-50: #ecf8ff;
  --color-accent-100: #d9f2ff;
  --color-accent-200: #a4e3ff;
  --color-accent-300: #64d7ff;
  --color-accent-400: #00c6f2;
  --color-accent-500: #00b4dd;
  --color-accent-600: #0092b4;
  --color-accent-700: #007490;
  --color-accent-800: #00556a;
  --color-accent-900: #003a49;
  --color-accent-950: #002c38;
}