@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #f3f3f3;
  --secondary-color: #cf013f;
  --terciary-color: #3fcf01;
  --primary-text-color: #404040;
  --secondary-text-color: #eeeeee;
  --font: "Poetsen One", sans-serif;
}
html {
  overflow-y: scroll;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

label {
  font-weight: 500;
}

label,
input,
select {
  font-size: 1.25rem;
}

input,
select,
textarea {
  border-radius: 8px;
  border: 2px solid transparent;
  outline: none;
  padding-block: 0.5rem;
  padding-inline: 1rem;
}

.btn-primary {
  background-color: #3b82f6; 
  color: white; 
  font-size: 1.25rem; 
  padding: 1rem 2rem; 
  font-weight: 500; 
  border-radius: 9999px; 
  transition: background-color 0.2s, transform 0.2s; 
}

.btn-primary:hover {
  background-color: #2563eb; 
}

.btn-primary:active {
  transform: scale(0.95); 
}
