.create-account {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: 1fr;
  min-height: calc(100vh - 64px);

  .steps-container {
    @apply flex flex-col justify-center pl-24 bg-[var(--secondary-color)] text-white;
    border-radius: 0px 9999px 9999px 0px;
    
    h2 {
      text-align: center;
      max-width: 500px;
      font-size: 4rem;
      margin: 3rem;
      font-weight: 600;


      span {
        font-family: "Poetsen One", sans-serif;
        font-weight: 400;
      }
    }

    h4 {
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }

    ul {
      li {
        font-size: 1.3rem;
        font-weight: 600;
        margin-top: 1.5rem;

        span {
          font-weight: 300;
          display: block;
          margin-left: 2rem;
        }
      }

    }

    p {
      margin-top: 2.5rem;
      font-size: 1.25rem;
      max-width: 600px;

    }
  }

  .create-acc-form {
    @apply m-auto  max-w-[500px] ;
  }
}