@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
}

@theme {
  --color-accent-50: #e5faff;
  --color-accent-100: #c7f5ff;
  --color-accent-200: #94ebff;
  --color-accent-300: #5ce1ff;
  --color-accent-400: #29d8ff;
  --color-accent-500: #00c4f0;
  --color-accent-600: #009ec2;
  --color-accent-700: #00758f;
  --color-accent-800: #004f61;
  --color-accent-900: #00252e;
  --color-accent-950: #001519;
}