.footer {
  @apply flex justify-evenly p-10 bg-neutral-100 text-neutral-500;

  aside {
    h2 {
      font-size: 20px;
      line-height: 28px;
      color: var(--secondary-color);
      font-family: "Poetsen One", sans-serif;
      font-weight: 400;
      font-style: normal;

      span {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        color: var(--primary-text-color);
      }
    }
  }

  .section-container {
    text-align: center;

    h6 {
      margin-bottom: 5px;
      font-weight: 700;
    }
    a {
      display: block;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
