.navbar {
  @apply sticky top-0 z-10 w-full bg-[var(--primary-color)] shadow-lg;

  .container {
    @apply max-w-7xl w-11/12 text-lg h-16 m-auto text-[var(--primary-text-color)] flex flex-row items-center justify-between;

    .nav {
      @apply flex  items-center gap-16;
      h1 {
        @apply text-3xl font-semibold;

        .logo {
          color: var(--secondary-color);
          font-family: "Poetsen One", sans-serif;
          font-weight: 400;
          font-style: normal;
        }
      }
      .links {
        @apply flex uppercase text-neutral-600 hover:text-neutral-300;

        .link {
          @apply relative hover:text-neutral-800 font-semibold px-4 transition-all;
        }
      }
    }

    .button-links {
      @apply flex items-center gap-8;

      .btn-link {
        @apply border-2 border-[var(--secondary-color)] font-semibold px-6 py-1 rounded-full;
      }

      .link {
        &:hover {
          @apply underline underline-offset-4;
        }
      }
    }
  }
}
